.interestSquare {
	height: 300px;
	width: 300px;
	border-radius: 2.2rem;
	margin: 30px;
	background-color: #0BB7C6;
	color: white;

}

.interestSquareContainer {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}

.interestIcon {
	margin: 80px 0 25px 0;
}
