.interestContainer {
    
    background-color:#0BB7C6;
    margin: 75px 0 75px 0;
    border: none;
    border-radius: 4rem;
    height: 650px;
    width: 1000px;
    padding-top: 20px;
    h1 {
        color: white;
        font-size: 60px;
        width: 450px;
    }
}

.interestTypeContainer {
    display: flex;
    justify-content: center;
    overflow: auto;
    height: 600px;
    width: 1000px;
    border-radius: 4rem;
    background-color: white;
    h2 {
        color: #0BB7C6;
        font-size: 40px;
    }
}

.interestTypeCard {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    height: 150px;
    width: 900px;
    border: 2px solid #2D5D64;
    border-radius: 1rem;
    margin: 10px 0
}

.interestTypeDiv {
    padding: 40px 0;
    button {
        border: none;
        background-color: white;
    }
}

.backArrow {
    width: 100px;
    height: 60px;
    margin: 0 80px 0 30px;
}

.row {
    width: 900px;
    display: flex;
    justify-content: center;
}