.cardContainer2 {
	display: flex;
	// flex-wrap: wrap;
	margin-top: 30px; // <=== **** BE SURE TO GET RID OF THIS WHEN YOU'RE DONE STYLING!!!!! *****
	border: none;
	border-radius: 2rem;
	height: 275px;
	width: 900px;
	background-color: #0BB7C6;
	color: white;
	font-size: 18px;
}

.interestCardImg {
	height: 275px;
	width: 225px;
	border-radius: 2rem;
	margin-right: 30px;
	border: none;
}

.interestCardHeader {
	text-align: left;
}

.lineBreak {
	border: 1px solid white;
	width: 550px;
	margin: 0;
}

.col-8 {
	padding: 0;
	width: 300px;
}

.col-4 {
	padding: 0;
}

.detailsDiv {
	width: 500px !important;
}

.interestCardHeader {
	h3 {
		margin: 20px 0 0 0;
	}
}

.subHeader {
	margin-top: 15px;
}

.addressAndCost {
	text-align: left;
	margin-right: 100px;
	margin-left: 15px;
	width: 210px;
	p {
		margin: 0;
		padding: 0;
	}
}

.distanceAndTime {
	font-size: 30px;
	width: 175px;
	p, h5 {
		padding: 0;
	}
}

.confirmButtonsDiv {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 25px;

	button {
		width: 100px;
		height: 50px;
		margin: 0 10px;
	}
}

.addLocationModalBody {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 100px;
	width: 100%;
	
	p {
		display: flex;
		flex-direction: column;
		align-self: center;
		margin-top: 10px;
		font-size: 30px;
		font-weight: bold;
		color: #0BB7C6;
	}
}

.confirmModal {
	margin-top: 100px;
	width: 500px;
}

.confirmButton {
	background-color: #0BB7C6;
    border-radius: .3rem;
    border: none;
	color: white;
}

.cancelButton {
	background-color: red;
    border-radius: .3rem;
    border: none;
    color: white;
}

.deleteAndEditDiv {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	button {
		background-color: #0BB7C6;
		border: none;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		margin: 10px;
	}
}

.locationItemDiv {
	display: flex;
	justify-content: center;
}